@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.write-up-section {
  animation: fadeInUp 7s ease-out;
  -webkit-animation: fadeInUp 7s ease-out;
}

